kafka-python
python-dotenv
grpcio==1.44.0
protobuf==3.19.4

argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
autovizwidget==0.19.2
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
brotlipy
certifi==2021.10.8
cffi
charset-normalizer
colorama
cryptography
debugpy
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
gssapi==1.7.3
hdijupyterutils==0.19.2
idna
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2
jsonschema
#jupyter==1.0.0
#jupyter-client
#jupyter-console
#jupyter-core
#jupyterlab-pygments
#jupyterlab-widgets==1.1.0
krb5==0.3.0
MarkupSafe
matplotlib-inline==0.1.3
mistune==0.8.4
mock==4.0.3
nbclient
nbconvert
nbformat
nest-asyncio==1.5.5
nose==1.3.7
notebook
packaging==21.3
pandas
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
plotly==5.7.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycosat
pycparser
Pygments==2.12.0
pyOpenSSL
pyparsing==3.0.8
pyrsistent
PySocks
pyspnego==0.5.2
python-dateutil==2.8.2
pytz==2022.1
pyzmq==22.3.0
qtconsole
QtPy==2.0.1
requests
requests-kerberos==0.14.0
ruamel-yaml-conda
Send2Trash==1.8.0
six
soupsieve
sparkmagic==0.19.2
stack-data==0.2.0
tenacity==8.0.1
terminado==0.13.3
tinycss2==1.1.1
tornado==6.1
tqdm
traitlets==5.1.1
urllib3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
scikit-learn
torch==1.10.1
torchvision==0.11.2
gluonnlp
mxnet
git+https://git@github.com/SKTBrain/KoBERT.git@master
konlpy==0.6.0
nltk==3.7
pyspark==3.2.1
gensim==3.8.3
tensorflow==2.2.0
numpy==1.19.0
fasttext